.cision-feed-wrapper {
  width: 100%;
}
.block ul.cision-pager {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}
.block ul.cision-pager li {
  margin: 0;
  padding-right: 10px;
  display: inline;
}
.block ul.cision-pager li a {
  text-decoration: none;
}
.cision-feed-item {
  overflow: hidden;
  border-bottom: 1px solid #c0c0c0;
  padding: 15px 0 30px 0;
  margin-bottom: 15px;
}
.cision-item-media {
  width: 100%;
  padding-bottom: 10px;
  display: block;
}
.cision-item-media img {
  display: block;
  margin: 5px auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}
@media screen and (min-width: 768px) {
  .cision-feed-item {
    padding: 30px;
  }
}
